@model MovieCatalogue.Models.Movie

@{
    ViewBag.Title = "Изтрий";
}

<h2>Изтриване</h2>

<h3>Сигурен ли си, че искаш да го изтриеш?</h3>
<div>
    <h4>Филми</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfWatching)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfWatching)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Изтрий" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
