@model MovieCatalogue.Models.Movie

@{
    ViewBag.Title = "Детайли";
}

<h2>Детайли</h2>

<div>
    <h4>Филми</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfWatching)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfWatching)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Промени", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Назад", "Index")
</p>
