@model MovieCatalogue.Models.TvSeries

@{
    ViewBag.Title = "Детайли";
}

<h2>Детайли</h2>

<div>
    <h4>Сериали</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Season)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Episode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Episode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактирай", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Назад", "Index")
</p>
